@media screen and (max-width: 768px){
    
    #icono_hendora{
        width: 10%;
    }
}
.body{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: rgba(56, 68, 79, 1);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.btn_enviar{
    margin: 0 auto;
    display: flex;
}
.form_contacto{
        margin: 20px;
}

h3{
    text-align: center;
}
 
    
    .nav {  
   grid-area: header;
   border: 1px solid;
   background-color: black;
    }
    .medio {
        grid-area: main; 
        border: 1px solid;
        background-color: black;
        }
    .desc{
        grid-area: desc;
        border: 1px solid;
        
         
    }
    .pie {  
        grid-area: footer;
        border: 1px solid;
        background-color: black;
       
    }

  
nav ul li {
    
    border: 1px solid;
}
        

ul{
    display:flex;
    justify-content: space-between;
    border: 1px solid;
   
}

.hendora{
    display: flex;
    justify-content: space-between;

 }
 
#footer_imagen{
    width: 50px;
    height: 50px;
}

.div_p{
    display: flex;   
    justify-content: center; 
    color: rgb(255, 255, 255);
   
        background-color: black;
}
div nav{
        border: 1px solid;
        background-color: black;

}

.textoDentroDeLista{
    text-align: center;/*centra el texto dentro de un contenedor*/
    margin-left: 100px;
    padding: 0 1em;
    color: rgb(219, 213, 213);
    text-decoration: none;
    font-family:cursive;

}

.texto_desc{
    text-align: center;/*centra el texto dentro de un contenedor*/
    color: rgb(3, 1, 1);
    text-decoration: none;
    font-family:cursive;
    text-shadow: 1px 1px 2px black

}

.img_centro{
    display: flex;  /*siempre en el padre*/
    justify-content: center; /*la posicion la determina el padre*/
}


.ani {
    transition: all 1s;
    background-image: linear-gradient(rgb(54, 59, 40),rgb(27, 13, 13));
    }
.ani:hover {
    height: 200px; width: 200px;
    padding: 20px;
    background-image: linear-gradient(rgb(171, 171, 196),rgb(76, 67, 67));
    transform: scale(1);
    }

/*Aplicando boostrap*/

.nav-item{
    font-size: 16px;
   
}

div ul li a img{
    size: 10px;
}
 
.carrusel{
    display: flex;
    justify-content: center;
    height: 50px;
   
   /* display: block hace que se vea lo que tiene detras*/
}
#carouselExampleControls{
    position: absolute;
}

.footer__logo{
    width: 50%;
}
.footer{
    /*dyspley:flex*/
   justify-content: space-between;
   background-color: rgb(255, 170, 127);
   font-family: 'monospace';
    font-weight: 400;
    font-size: 16px;
    color: rgba(56, 68, 79, 1);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}
.conteiner-fluid footer{
    display: flex;
    justify-content: space-between;
   
}
.footer_logos{
   display: flex;
   justify-content: space-between;
   color: black;
  padding: 10px;
}

.icono_red_social{
    height: 20px;
    width: 20px;
    color: black;
}

.footer__contacto{
    border: solid 1px;
    border-radius: 6px;
    padding: 20px;

}


a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}


.img-fluid{
    display: flex;
    position: center;
}

main{
    Height:105vh;
}

.w-10{
    height:105vh ;
}