/*css especifico de seccion de contacto (el resto tomado de boostrap*/
h3{
    text-align: center;
}

.form_contacto{
    margin: 20px;
}

@media screen and (max-width: 768px){
    
    #icono_hendora{
        width: 10%;
    }
}

.form_contacto{
    margin: 20px;
}

