#carouselExampleControls{
    position: absolute;
}
.carrusel{
    display: flex;
    justify-content: center;
    height: 50px;
}

.w-10{
    height:105vh ; /*alto carrusel*/
}

.card{
    margin-left: 10px;
    position: absolute;
}